In [10]:
l1 = list(range(20))
l1[1]

1

In [7]:
#add even and odd of range(20)
even = []
odd = []
add = []
for i in l1:
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)
for j in range(len(even)):
    add.append(even[j]+ odd[j])
print(add)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 5, 9, 13, 17, 21, 25, 29, 33, 37]

In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vishaldu\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\vishaldu\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\vishaldu\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vishaldu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\vishaldu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [21]:
#pattern
for i in range(5):
    print('*'*i)
for j in range(i,-1,-1):
    print('*'*j)

*
**
***
****
****
***
**
*

In [20]:
#reverse_list
list(range(5,-1,-1))

[5, 4, 3, 2, 1, 0]

In [22]:
#reverse_number
number = 141414
reverse = 0
while number>0:
    reverse = reverse*10 + number%10
    number = number//10
print(reverse)

414141

In [30]:
#factorial
number = 8
fact = 1
while number>0:
    fact = fact *number
    number-=1
print(fact)

40320

In [34]:
#rounding a number
number = 12345.66934777
print(round(number,3))

12345.669

In [2]:
num = int(input())

2

In [15]:
s = "vishal"
s[0:4:2]

'vs'

In [16]:
import numpy as np

In [18]:
np.asanyarray(1)/0

C:\Users\vishaldu\AppData\Local\Temp\ipykernel_19124\963510221.py:1: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray(1)/0

inf

In [21]:
a = "199"
a[1:2]

'9'

In [27]:
l= [1,2,3]

In [24]:
a = (1,2,3)

In [25]:
a[1]

2

In [30]:
l[1] = 6

In [31]:
l

[1, 6, 3]

In [32]:
l = [[1,2,3], 445, 91,2, (1,2,3)]

In [33]:
for i in l:
    if type(i)== list:
        print(i)
        for j in i:
            print(j)

[1, 2, 3]
1
2
3

In [2]:
n= int(input())
for i in range(n+1):
    print('*'*i)
for j in range(i,0,-1):
    print('*'*j)

6

*
**
***
****
*****
******
******
*****
****
***
**
*

In [4]:
for i in range(6):
    print("*"*i)

*
**
***
****
*****

In [16]:
for i in range(5):
    for j in range(i+1):
        print("*",end ='')
    print("")

*
**
***
****
*****

In [17]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]

In [60]:
for i in list(l):
        print("List")
        print(i)
        c = []
        for j in i:
            if i.count(j)> 1 and j not in c:
                c.append(j)
                print(j, i.count(j))

List
[1, 1, 2, 2, 3, 3]
1 2
2 2
3 2
List
[2, 4, 2, 2, 5]
2 3
List
[1, 5, 8, 8, 2]
8 2

In [61]:
i = 1
n =5 
while i<n:
    print("hello")
    i+=1

hello
hello
hello
hello

In [84]:
s= "ineuron"
for i in reversed(s):
    print(i)

n
o
r
u
e
n
i

In [91]:
a = len(s) -1
while a >=0:
    print(s[a])
    a-=1

n
o
r
u
e
n
i

In [92]:
i = input()
print("user input is {}".format(i))

none
user input is none

In [141]:
import string

In [144]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [145]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [172]:
s = "in"
{ i:s for i in s}

{'i': 'in', 'n': 'in'}

In [180]:
d = {"ab": {"a": 23, "b": 34, "c": 56}, "course": {'d': 122 , 'e': 99}, 45:889}

In [181]:
max =0
for i in d.keys():
    if type(d[i]) == int:
        if d[i]>max:
            max = d[i]
    else:
        if type(d[i])== dict:
            for j in d[i].values():
                if j > max:max = j
print(max)

889